extends ../layout/main

block variables
  - const title = 'Memory';
  - const description = 'card game'
  - const keywords = 'card, game'

block content
  .endpage
    h2.endpage__title Результат
    img.endpage__img(src='/assets/img/Group 2.png', alt='End Game', width=516, height=275)
    p.endpage__content Поздравляем!
    p.endpage__content Ваш итоговый счёт:
      span.endpage__score#score= 0
    a.link.endpage__link-again(href='/gamepage.html') Ещё раз
    button.link(id='open-results-btn' type='button') Посмотреть топ 10

    .results#results
      ul.results__list#results-list
      button.results__button-close(id='close-results-btn' type='button') Закрыть

    .request
      p.request__content Вы попали в топ 10
      form
        .request__wrapper
          label.request__label(for='name') Укажите Ваше имя
          input.request__input(id='name' name='name' type='text' placeholder="Ваше имя")
        input.request__submit(type='submit' value='Отправить')
        button.request__close(id='close-request' type='button') Закрыть окно







