extends ../layout/main

block variables
  - const title = 'Memory';
  - const description = 'card game'
  - const keywords = 'card, game'
  - const numberOfCards = 18

block content
  .gamepage
    .gamepage__container
      button.gamepage__btn(type= "button") Начать заново
      p.gamepage__content Очки:
        span.gamepage__scores 0
    ul.gamepage__cards
