extends ../layout/main

block variables
  - const title = 'Memory';
  - const description = 'card game'
  - const keywords = 'card, game'

block content
  .startpage
    .startpage__container
      h2.startpage__title Memory Game
      img.startpage__img(src='/assets/img/StartGame.png', alt='Start Game', width=503, height=262)
      a.link(href='/gamepage.html') Начать игру
    .startpage__wrapper test
