.card {
  position: relative;

  width: 100%;
  height: 100%;

  transition: transform 1s;
  transform-style: preserve-3d;

  cursor: pointer;

  &--is-flipped {
    transform: rotateY(180deg);
  }
}

.card__face {
  position: absolute;

  width: 100%;
  height: 100%;

  font-size: 40px;
  line-height: 250px;
  text-align: center;

  backface-visibility: hidden;
}

.card__face--back {
  border-radius: 7px;

  transform: rotateY(180deg);
}
