.gamepage__container {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}

.gamepage__btn {
  padding: 0;

  font-family: $mainFont;
  letter-spacing: -0.25px;
  color: white;
  background-color: transparent;

  border: none;
  outline: none;
  cursor: pointer;

  &:focus,
  &:hover {
    color: red;
  }
}

.gamepage__scores {
  margin-left: 10px;
}

.gamepage__cards {
  display: grid;
  grid-template-rows: repeat(9, auto);
  grid-template-columns: repeat(2, auto);
  width: 95%;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.gamepage__wrapper {
  width: calc(226px * 0.6);
  height: calc(314px * 0.6);
  margin: 0 auto 10px auto;

  border-radius: 15px;

  perspective: 600px;
}

@media (min-width: 400px) {
  .gamepage__cards {
    grid-template-rows: repeat(6, auto);
    grid-template-columns: repeat(3, auto);
  }

  .gamepage__wrapper {
    width: calc(226px * 0.5);
    height: calc(314px * 0.5);
  }
}

@media (min-width: 500px) {
  .gamepage__wrapper {
    width: calc(226px * 0.6);
    height: calc(314px * 0.6);
  }
}

@media (min-width: 600px) {
  .gamepage__wrapper {
    width: calc(226px * 0.7);
    height: calc(314px * 0.7);
  }
}

@media (min-width: 768px) {
  .gamepage__wrapper {
    width: calc(226px * 0.75);
    height: calc(314px * 0.75);
  }
}

@media (min-width: 1024px) {
  .gamepage__container {
    margin-top: 20px;
  }

  .gamepage__cards {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(6, auto);
    margin-top: 50px;
  }

  .gamepage__wrapper {
    width: calc(226px * 0.7);
    height: calc(314px * 0.7);
  }
}

@media (min-width: 1366px) {
  .gamepage__cards {
    margin-top: 0;
  }

  .gamepage__wrapper {
    width: calc(226px * 0.5);
    height: calc(314px * 0.5);
  }
}
