.link {
  padding: 10px 20px;

  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  color: $linkColor;

  background-color: $linkBGColor;

  border-radius: 4px;

  &:focus,
  &:hover {
    color: red;
  }
}
