.request {
  position: absolute;

  display: none;
  width: 100%;
  padding: 30px;

  color: $mainBGColor;

  background-color: #fff;

  &--opened {
    display: block;
  }
}

.request__content {
  margin-bottom: 30px;

  text-align: center;
}

.request__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.request__submit {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;

  font-size: 16px;
  line-height: 22px;
  font-family: $mainFont;
  text-decoration: none;
  color: $linkBGColor;

  background-color: $linkColor;

  border: none;
  border-radius: 4px;

  cursor: pointer;
}

.request__close {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 20px;
  height: 20px;
  padding: 0;

  font-size: 0;

  background-color: transparent;

  border: none;

  cursor: pointer;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: -5px;

    width: 2px;
    height: 30px;

    background-color: #000;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
