.startpage {
  position: relative;
}

.startpage__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 320px;
  height: auto;
  margin: 150px auto 0 auto;
}

.startpage__title {
  font-size: 28px;
  line-height: 38px;
  text-transform: uppercase;
}

.startpage__img {
  order: -1;
  width: 100%;
  height: auto;
}

.startpage__wrapper {
  position: fixed;
  right: 5%;
  bottom: 5%;
}

@media (min-width: 768px) {
  .startpage__container {
    width: 501px;
    margin-top: 250px;
  }
}

@media (min-width: 1024px) {
  .startpage__container {
    margin-top: 200px;
  }
}

@media (min-width: 1366px) {
  .startpage__container {
    margin-top: 100px;
  }
}
